<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<!-- Handlebars Image -->
			<img src="" alt="">
		</div>

		<div class="col-md-4 text-center">
			<img id="logo" src="/assets/img/trail mix logo.png" alt="" height="150px">
		</div>

		<div class="col-md-4 text-center">
			<!-- Handlebars Image -->
			<img src="" alt="{{word}}">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img class="img-thumbnail" id="left" src="">
		</div>
		<div id="textDisplay" class="col-md-6">
			<p id="display"></p>
			<div class="text-center" id="choiceButton">
				<h3>What do you choose?</h3>
				<select class="form-control" id="choice">
					<option value=""></option>
					<option id="choice1" value="1"></option>
					<option id="choice2" value="2"></option>
					<br>
				</select>
				<br>
				<button class="btn-success btn-md" id="submit">Submit Answer</button>
			</div>
			<div class="text-center">
				<button class="btn-success btn-md" id="continue">Continue on</button>
				<button class="btn-success btn-md" id="finish">!!!!!!!</button>
				<button class="btn-success btn-md" id="end">End</button>
				<button class="btn-success btn-md" id="collect">Collect Prize</button>
				<button class="btn-success btn-md" id="try-again">Try Again</button>
			</div>
		</div>
		<div class="col-md-3">
			<img class="img-thumbnail" id="right" src="">
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var customer = "{{models.Customer.cust_name}}"
	var verbiage1 = "{{models.Adventure.adventure_verbiage1}}"
	var verbiage2 = "{{models.Adventures.adventure_verbiage2}}"
	var verbiage3 = "{{models.Adventures.adventure_verbiage3}}"
	var verbiage4 = "{{models.Adventure.adventure_verbiage4}}"
	var verbiage5 = "{{models.Adventures.adventure_verbiage5}}"
</script>
